 /* import font family work sens  */
 @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;700&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 /* import font family work sens  */

 /* primary declaration */
 *{
    font-family: Work Sans;
    margin: 0;
 }

 .btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
 }

 .txt-light-gray{
  color: #727272;
}

.section-title{
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
  /* primary declaration */


  /* header section */
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 

  nav > ul{
    display: flex;


  }

  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
  }

  nav li a{
    text-decoration:none ;
    color: #424242;
  }

  /* banner section  */

  .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
  }

 

  .banner img{
    margin-top: 20px;
    width: 100%;
  }


  /* main style   */


  /* teams style  */
  main{
    max-width: 1440px;
    margin: 0 auto;
  }

  .teams-container{
    display: flex;
    align-items: center;
  }

  .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .teams-content{
    padding: 0px 70px;

  }

  .teams-title{
    font-size: 2.8rem;
  }
  .teams-title .quick-list{
    color: #727272;
    font-weight: 500;
  }

  .txt-features{
    color: #FF900E;
    font-weight: 700;
  }


  /* feature section start */

  .features{
    display: flex;
    margin: 130px 0px 0px 0px;
    gap: 100px;
  }

  .feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  }

  .feature-img img{
    height: 90%;
    margin-left: 90px;
  }

  .ten-years-badge{
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
  }

  .ten-years-badge h2{
    font-size: 4rem;
    margin: 0px;
  }

  .ten-years-badge p{
    font: 1.5rem;
  }
  .features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
  }


  /* facts section */
  .facts-card-container {
    display: flex;
    justify-content: space-around;
  }

  .facts-card-container .card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px 30px;
  }

  .facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
  }

  .facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0px;
  }

  /* sponsors section  */

  .sponsors{
    text-align: center;
  }
  .sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
  }

  
  .sponsors-img-container img{
    width: 165px;
  }



  /* footer  */
  footer{
    border-radius: 8px;
background: #FFF4E7;
text-align: center;
padding: 50px 0px;
margin-top: 50px;
  }

  /* responsive style  */

@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, .teams-container, .features,
    .facts-card-container,   .sponsors-img-container{
        flex-direction: column;

    }
    .teams-img-container{
      grid-template-columns: 1fr;
    }

    .teams-content, .facts-card-container{
      padding-left: 20px;
      padding-right: 20px;
    }

    .facts-card-container{
      gap:20px ;
    }
    .ten-years-badge{
      position: static;
      max-width: 300px;
    }

    .feature-img img{
      width: 9%;
      margin: 0;
    }

}


@media screen and (min-width: 576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container,.features,
    .sponsors-img-container
    {
        flex-direction: column;
    }
    
}
