 /* import font family work sens  */
 @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;700&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 /* import font family work sens  */

 /* primary declaration */
 *{
    font-family: Work Sans;
    margin: 0;
 }

 .btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
 }
  /* primary declaration */


  /* header section */
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
  }

  nav > ul{
    display: flex;


  }

  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
  }

  nav li a{
    text-decoration:none ;
    color: #424242;
  }

  /* banner section  */

  .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
  }

  .banner-description{
    color: #727272;
  }

  .banner img{
    margin-top: 20px;
    width: 100%;
  }


  /* main style   */


  /* teams style  */
  main{
    max-width: 1440px;
    margin: 0 auto;
  }

  .teams-container{
    display: flex;
    align-items: center;
  }

  .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .teams-content{
    padding: 0px 70px;

  }

  .teams-title{
    font-size: 2.8rem;
  }
  .teams-title .quick-list{
    color: #727272;
    font-weight: 500;
  }

  .txt-features{
    color: #FF900E;
    font-weight: 700;
  }


  /* responsive style  */

@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;

    }
}


@media screen and (min-width: 576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    
}
